

a
{ text-decoration:none;
}
.nav-bar
{
 display: block;

}

.nav-bar ul{
    list-style-type:none;
    margin:0;
    padding:0;
    display:block;
}





.nav-bar li
{
    list-style-type: none;
    padding:0;
    margin:0;
    display:inline-block;
}



.nav-bar li a{
    padding:15px 20px;
    font-size:14px;
    color:saddlebrown;
    display: inline-block;
    outline:0;
    font-weight:700;
}

h1{
    text-align:center;
    color:cornflowerblue;
}

b{
    color: saddlebrown;
}



u{
    color:tomato;
}

footer {
	position: absolute;
	padding: 10px 0;
	text-align:right;
	bottom: 0;
	color:black;
	width: 100%;
}

#box1	{
     border:1px solid #000;
     
    float:left; min-height:230px; margin-right:50px; margin-left: 50px; width: 300px;
}
#login{
    border: 2px solid #000;
    
    width: 350px;

}

